%html
	%head
		%meta{charset:"utf-8"}
		%meta{name:"viewport",content:"width=device-width,intial-scale=1.0"}
		%title {block:PostTitle}{PostTitle}:{/block:PostTitle}{Title}
		%link{rel:"alternate",type:"application/rss+xml",href:"{RSS}"}
	%body
		%header
			%h1 {Title}