%html
	%head
		%meta{charset:"utf-8"}
		%meta{name:"viewport",content:"width=device-width,intial-scale=1.0"}
		%title {block:PostTitle}{PostTitle}:{/block:PostTitle}{Title}
		%link{rel:"alternate",type:"application/rss+xml",href:"{RSS}"}
	%body
		%header
			%h1 {Title}
		%div#main
			%div#post-text
				{block:Posts}
				{block:Text}
				{block:Title}
					%a{href:"{Permalink}"} {Title}
				{/block:Title}
				{Body}
				%small
					Tagged
					%ul
						%li
							{block:HasTags}
							{block:Tags}
							%a{href:"{TagURL}"} {Tag}
							{/block:Tags}
							{/block:HasTags}				
				{/block:Text}
				{/block:Posts}
				%small
					{PostType}

			%div#post-pic